<!-- BEGIN FORM PORTLET-->
<div class="portlet light">

    <div class="portlet-body form">

        <div class="tab-pane active" id="tab0">

            <div class="row">
                <p>${leaseItem.errors}</p>
            </div>

        </div>

    </div>
</div>

<!-- END FORM PORTLET-->