/* here you can put your own css to customize and override the theme */
body {
    color: #333;
    direction: ltr;
    font-size: 14px;
}

.page-bar .page-bar-header {
    display: inline-block;
    float: left;
    padding: 8px;
    margin: 0;
    list-style: none;
}

.page-bar .page-bar-header h4 {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    color: #525E64;
}

.page-container-bg-solid .page-bar .page-bar-header, .page-content-white .page-bar .page-bar-header {
    padding: 11px 0;
}

.page-header.navbar .page-actions {
    margin: 9px 10px 10px 7px;
    padding: 0;
    float: left;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 15px;
}

a:link {
    text-decoration: none;
}

.portlet-body.no-padding {
    padding: 0px !important;
}

.modal-header {
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
}

.portlet.box {
    margin-top: 5px;
}

h4.caption, .caption.h4, h4.form-section {
    min-height: 24px;
    font-size: 18px;
    border-bottom: 1px solid #e7ecf1;
}

.form-wizard .steps {
    padding: 5px 0;
    margin-bottom: 5px;
}

.form-wizard .steps, .form-wizard .steps > li > a.step {
    background-color: #fff;
    background-image: none;
    border: 0;
    box-shadow: none;
    filter: none;
}

.form-wizard .steps > li > a.step > .desc, .form-wizard .steps > li > a.step > .number {
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
}

.form-wizard .steps > li > a.step > .number {
    background-color: #eee;
    text-align: center !important;
    padding: 6px 5px 6px;
    margin-right: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50% !important;
}

.form .form-body, .portlet-form .form-body {
    padding: 5px;
}

.portlet.light {
    padding: 5px 12px 8px;
    background-color: #fff;
}

.portlet {
    margin-bottom: 5px;
}

@media (min-width: 1080px) {
    .modal-lg {
        width: 1100px;
    }
}

@media (min-width: 992px) {
    .page-content-wrapper .page-content {
        margin-left: 235px;
        margin-top: 0px;
        min-height: 600px;
        padding: 15px 20px 8px 20px;
    }
}

.disabled, a.disabled {
    cursor: not-allowed;
}

.dashboard-container {
    padding-top: 8px;
    padding-bottom: 8px;
}

.portlet:not(.light) .tabbable-line {
    padding-top: 8px;
}

.page-footer {
    padding: 5px 15px 3px 15px;
    font-size: 13px;
    height: 28px;
}

.alert {
    margin-top: 8px;
    margin-bottom: 8px;
}

.alert li {
    list-style: none;
}

.alert ul.errors {
    padding-left: 5px;
}

.form .form-actions, .portlet-form .form-actions {
    padding: 15px 15px 8px 15px;
}

.mt-checkbox, .mt-radio {
    margin-bottom: 8px;
}

.form-group {
    margin-bottom: 8px;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans","Poppins","sans-serif", "Arial";
    font-weight: 300;
}

.datepicker table th {
    color: #333;
    font-family: 'Open Sans', "Poppins", "sans-serif" !important;
    font-weight: 400 !important;
}

.datepicker table td {
    color: #000;
    font-weight: 300 !important;
    font-family: 'Open Sans', "Poppins", "sans-serif" !important;
}

.margin-top-5 {
    margin-top: 5px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left: 10px;
    padding-right: 10px;
}

.settings-content {
    margin-top: 15px;
}

.settings-contents .form-group label {
    text-align: right;
}