<!--<div class="row">
    <div class="row-col-12" style="color: #909090; font-size: 0.85em; padding-left: 10px;">
        Description: ${makerChecker.comment} <br />

        Make Date: ${makerChecker.makeDate.format('dd/MMM/yyyy HH:mm')} <br />
        Maker: ${makerChecker?.maker?.fullName} <br />

        Check Date: ${makerChecker.checkDate?.format('dd/MMM/yyyy HH:mm')} <br />
        Checker: ${makerChecker?.checker?.fullName} <br />
        Status: ${makerChecker.status}
    </div>
</div>-->