/* here you can put your own css to customize and override the theme */
body {
    color: #333;
    direction: ltr;
    font-size: 14px;
}

.form .form-actions, .portlet-form .form-actions {
    padding: 8px;
    margin: 0;
    background-color: #f5f5f5;
    border-top: 1px solid #e7ecf1;
}

.form .form-body, .portlet-form .form-body {
    padding: 10px;
}

h2 {
    font-size: 24px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

h3 {
    font-size: 19px;
}

.form-control-static {
    padding-top: 7px;
    padding-bottom: 5px;
    margin-bottom: 0;
    min-height: 30px;
}

.portlet.light {
    padding: 10px 15px 10px;
}

.portlet {
    margin-bottom: 15px;
}

.portlet-form .form-section {
    margin: 8px 0;
    padding-bottom: 5px;
}

.form .form-section, .portlet-form .form-section {
    margin: 10px 0 15px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #e7ecf1;
}

.modal-header.default {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.modal-header.blue {
    color: #FFFFFF;
    background-color: #217ebd;
    border-color: #15527c;
}

.modal-header {
    padding: 8px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-padding {
    padding: 15px 10px 5px;
}

.form-horizontal-left .control-label {
    text-align: left;
    font-weight: bold;
}

.disabled {
    cursor: not-allowed;
}

.page-head {
    background-color: #fff;
    padding: 0px 8px;
    border-bottom: 1px solid #e7ecf1;
}

.page-content-wrapper .page-content {
    padding: 0px 0 0 8px;
}

.page-head .page-title {
    padding: 8px 0 8px;
}

.page-head .page-toolbar .actions {
    margin: 5px 0;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.alert {
    margin-bottom: 0px;
}

.alert {
    padding: 10px 5px;
    font-size: 0.90em;
}

.alert-error {
    margin-bottom: 0px;
}

.alert-error ul.errors {
    padding-left: 10px;
    list-style: none;
}

.alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: -2px;
    right: 5px;
    color: inherit;
}

.no-margin {
    margin: 0px;
}

.portlet.box>.no-padding, .no-padding {
    padding: 0px !important;
}

.page-container {
    margin: 0;
    padding: 15px 15px 0;
    position: relative;
}

.form .form-section, .portlet-form .form-section, .portlet-body .form-section {
    margin: 15px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #e7ecf1;
}

.caption.h4 {
    min-height: 24px;
    font-size: 18px;
    border-bottom: 1px solid #e7ecf1;
}

.form-group {
    margin-bottom: 8px;
}

.form-group.address-group .form-control {
    margin: 5px 0px;
}

.no-border-top {
    border-top: none;
}
.no-border-bottom {
     border-bottom: none;
 }
.no-border-left {
    border-left: none;
}
.no-border-right {
     border-right: none;
 }

a.btn-padding, button.btn-padding {
    padding-left: 15px;
    padding-right: 15px;
}

.tabbable-line li.active a {
    font-weight: bold;
}

.panel {
    margin-bottom: 10px;
}

.m-top-10 {
    margin-top: 10px;
}

.portlet-body {
    padding: 5px 8px;
}

.portlet.default-bg > .panel-body, div.default-bg .portlet-body{
    background-color: #fafafa !important;
}

ul.pagination {
    margin: 5px 0;
}

.table {
    margin-bottom: 10px;
}

table.table-advance thead th {
    font-weight: bold;
}

.page-bar .page-bar-header {
    display: inline-block;
    float: left;
    padding: 8px;
    margin: 0;
    list-style: none;
}

.page-bar .page-breadcrumb h4 {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
}

.page-container-bg-solid .page-bar .page-bar-header, .page-content-white .page-bar .page-bar-header {
    padding: 11px 0;
}
